$clr-base: #fff;
$clr-table-caption: #437DFF;
$clr-table-header: #efefef;
$clr-font: #000;
$clr-font-lt: #888;
$clr-font-lts: #fff;
$clr-border: #ccc;
$clr-available: #A7F3D0;
$clr-booked: #FCA5A5;
$clr-blocked: #F3F4F6;