$clr-base: #fff;
$clr-schedule-header: #34495e;
$clr-time-slot: #ecf0f1;
$clr-border: #eaeaea;
$clr-available: #A7F3D0;
$clr-booked: #FCA5A5;
$clr-blocked: #F3F4F6;
$clr-time-slot: #f8f8f8;
$clr-nav-btn: #e5e5e5;
$clr-font: #000;
$clr-font-lt: #7f8c8d;
$clr-font-lts: #fff; 