@use './colors';
@use './breakpoints';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include breakpoints.responsive(phone) {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  color: colors.$clr-font;
  background-color: colors.$clr-base;
}